snapshots/
cover_letter/

output/
build/
content/pages/cv.md
content/papers/MichaelCHughes_CurriculumVitae.pdf

*.pyc

.texpadtmp/
cover_letter/*.pdf
statements/*.pdf
*-eps-converted-to.pdf
*.dvi
*.log
*.blg
*.bbl
*.aux
*.backup
*.tmp
*.synctex.gz
*.out
*.ps
*.toc
