.body {
	font-size: 15px;
}

.list-group-item-text>span {
	font-size: 13px;
}

.center-img>img {
	align: center;
}

.navbar-nav {
	padding-top: 12px;
	font-size: 20px;
}



.navbar-brand>img {
	width: 40px;
}

.navbar-brand {
	height: 61px;
	padding-top: 18px;
	padding-bottom: 18px;
	line-height: 25px;
	font-size: 24px;
}

.navbar-brand>img {
	display: inline;
	margin-top: -5px;
}
